@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Monoton&family=Noto+Serif&family=Philosopher&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Fredoka+One&family=Monoton&family=Noto+Serif&family=Philosopher&family=Roboto:wght@100&display=swap');
@import "./css_fun";
@include navbar; //import navbar
@include hidden-nav; //import hidden navbar
@include footer; //import website footer
*{@include reset;} //reset all m and p

body{background:$bg-color;}
//galley code
main{
    .img-grid{
        width:90%;
        margin:50px auto;
        display:grid;
        grid-template-columns:repeat(3,2fr);
        grid-template-rows:repeat(3);
        grid-gap:25px;
        row-gap:30px;
        div{
            color:white;
            overflow:hidden;
            border:2px solid white;
            border-radius:20px;
            img{
                transition:0.5s;
                width:100%;
                transform: scale(1.1);
                cursor:pointer;
                }
                img:hover{
                    transform: scale(1.5); 
                    border:2px solid white;
                    //filter: contrast(200%);
                    filter: saturate(300%) brightness(150%);
                }
        }
    }
}

@media screen and (max-width:884px){
    main{
        .img-grid{
            grid-template-columns:repeat(2,1fr);
            grid-template-rows:repeat(5);
            width:90%;
        }
    }
}

@media screen and (max-width:519px){
    main{
        .img-grid{
            grid-template-columns:repeat(1,1fr);
            grid-template-rows:repeat(10);
            width:85%;
        }
    }
}



